body {
	font-family; "Times New Roman";
	font-family: 40px;
	color: Black;
	margin-left: 10%;
	margin-right: 10%;
}

h1 {
	font-family; "Times New Roman";
	font-family: 60px;
	color: Black;
	text-align: center;
}

.profpic {
	margin:auto;
}
