body {
	font-family; "Times New Roman";
	font-family: 40px;
	color: Black;
}

h1 {
	font-family; "Times New Roman";
	font-family: 60px;
	color: Black;
}

.profpic {
	margin:auto;
}

html {
	text-align: center;
}