body {
	font-family: "Times New Roman";
	font-size: 40px;
	color: Black;
}

h1 {
	font-family: "Times New Roman";
	font-size: 60px;
	color: Black;
	text-align: center;
}

.profpic {
	text-align: center;
}

.linkform {
	text-align: center;
	font-family: "Arial";
	font-size: 40px;
}
